<%- include ('../partials/header') %>
        <!-- Container Fluid-->
        <div class="container-fluid" id="container-wrapper">
          <div class="d-sm-flex align-items-center justify-content-between mb-4">
            <h1 class="h3 mb-0 text-gray-800">Users</h1>
          </div>

          <div class="row mb-3">
            <!-- Users -->
            <div class="col-xl-12 col-lg-12 mb-4">
              <div class="card">
                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                  <h6 class="m-0 font-weight-bold text-primary">Users</h6>
                  <a class="m-0 float-right btn btn-danger btn-sm" href="/admin/user/add">Add User <i
                      class="fas fa-chevron-right"></i></a>
                </div>
                <div class="table-responsive">
                  <table class="table align-items-center table-flush">
                    <thead class="thead-light">
                      <tr>
                        <th>No</th>
                        <th>Admin Name</th>
                        <th>Role</th>
                        <th colspan="2" class="text-center">Action</th>
                      </tr>
                    </thead>
                    <tbody>
                    <% let count = 1 %>
                    <% users.forEach((user) => { %>
                      <% if(user.role !== "Student"){ %> 
                        <tr>
                          <td><a href="#"><%- count %></a></td>
                          <td><%- user.name %></td>
                          <td><%- user.role %></td>
                          <td class="text-center"><a href="/admin/user/<%-user._id %>/edit" class="btn btn-sm btn-primary">Edit</a></td>
                          <td class="text-center">
                            <form action="/admin/user/<%-user._id %>?_method=DELETE" method="POST"> <button type="submit"  class="btn btn-sm btn-danger">Delete</button>  </form>
                          </td>
                        </tr>
                        <% count++ %>
                      <% } %>
                    <% }) %>
                    </tbody>
                  </table>
                </div>
                <div class="card-footer"></div>
              </div>
            </div>
            
          </div>
          <!--Row-->

<%- include ('../partials/footer') %>
